.etch-a-sketch {
	position: relative;
	height: 500px;
	border-radius: 8px;
	background: #9F0925;
	max-width: 700px;
	box-sizing: border-box;
	margin: 0 auto;
	box-shadow:
		inset -12px 0px 20px #6B0912,
		inset -4px -4px 5px #410106,
		inset -12px 6px 1px #B60113,
		inset -8px 10px 12px #D59389,
		inset 8px 0px 20px #900914,
		inset 0px -25px 10px #9C0D14;
}

h1 {
	color: #F4F4F1;
	box-sizing: border-box;
	padding: 25px;
	height: 75px;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	font-family: sans-serif;
	font-style: italic;
	font-weight: 400;
	font-size: 20px;
	text-shadow: 1px 1px 5px #540C13;
}

h1 object {
	vertical-align: bottom;
	height: 1.5em;
	padding: 0 10px;
}

.knob {
	height: 60px;
	width: 60px;
	background: linear-gradient(90deg, #B1AF9C, #FDF9E8);
	border-radius: 50%;
	position: absolute;
	bottom: 15px;
}

.knob::before {
	content: '';
	display: block;
	position: absolute;
	top: 8px;
	bottom: 8px;
	left: 8px;
	right: 8px;
	border-radius: 50%;
	background: linear-gradient(to right, #EFEBDF, #B9B4AF);
	box-shadow:
		-1px 0 2px #E9EBD5,
		inset 1px 0px 2px #E9EBD5,
		inset -1px 0px 2px #EDEDD9;
}

.knob::after {
	content: '';
	display: block;
	position: absolute;
	top: 28px;
	bottom: 28px;
	left: 28px;
	right: 28px;
	border-radius: 50%;
	background: #B0AFAB;
	box-shadow:
		-1px 0px 2px #B0AFAB,
		1px 0px 2px #B0AFAB,
		0px -1px 2px #B0AFAB,
		0px 1px 2px #B0AFAB,
		-3px 0 6px #EEEBDF,
		2px 0 6px #B0AFAB,
		-2px -1px 5px #EEEBDF,
		-2px 2px 5px #EEEBDF;
}

#left {
	left: 0px;
	box-shadow:
		1px 2px 4px #999683,
		inset -1px 1px 2px #FDF9E8,
		4px 3px 0 #FDF9E8;
}

#right {
	right: 0px;
	box-shadow:
		inset -1px 1px 1px#F0F8ED,
		inset 0px 1px 5px #A6AA9C,
		-2px 3px 3px #8C8276,
		-4px 3px 0 #9A7C6C,
		-10px 5px 5px #5A010F;
}

.knob input {
	height: 50px;
	display: block;
	width: 25px;
	background: transparent;
	border: 0;
}

.knob input:focus {
	outline: 0;
}

.clockwise {
	position: absolute;
	right: 0;
	border-radius: 0 100px 100px 0;
}

.counter-clockwise {
	position: absolute;
	left: 0;
	border-radius:
}

canvas {
	background: linear-gradient(-95deg, #BCD5F1, #F6FAFD 90%, #DFF0FD);
	width: calc(100% - 150px);
	display: block;
	margin: 0 auto;
	height: calc(100% - 150px);
	border-radius: 15px;
	box-shadow:
		inset 0px -1px 1px #AF759E,
		0px 3px 2px #BB112C,
		inset -2px 0 1px #622C36,
		3px 0 5px #86080D,
		inset 2px 0px 1px #631143,
		-3px 0 5px #7A052C,
		-12px 0 8px #A7051A,
		-15px 0 10px #AD0042,
		0px 5px 2px #D78372,
		inset 0 2px 1px #3B1F2D,
		0px -3px 15px #6D0910;
}
